.fiche-rp-spirit-1 {
  background-color: #fef8d3;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  font-family: "Inter", sans-serif;
  color: #333;
  width: 500px;
  border-radius: 5px;
}

.fiche-rp-spirit-1 .header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  width: 100%;
  height: 250px;
}

.fiche-rp-spirit-1 .header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.fiche-rp-spirit-1 .header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(254, 248, 211, 0) 50%,
    rgba(254, 248, 211, 1)
  );
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.fiche-rp-spirit-1 .header .overlay.v2 {
  background: linear-gradient(
    to bottom,
    rgba(253, 154, 185, 1) 0%,
    rgba(253, 154, 185, 0) 20%,
    rgba(254, 248, 211, 0) 50%,
    rgba(254, 248, 211, 1)
  );
  border-radius: 0px;
}

.fiche-rp-spirit-1 .feat {
  background-color: #fef8d3;
  padding: 8px 10px;
  position: absolute;
  top: 15px;
  left: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  font-family: "Familjen Grotesk", sans-serif;
  border-radius: 5px;
}

.fiche-rp-spirit-1 .feat.v2 {
  position: static;
  background-color: white;
}

.fiche-rp-spirit-1 .title {
  text-align: center;
  font-size: 25px;
  font-family: "La Belle Aurore", cursive;
  line-height: 1.2;
  margin: 20px 40px;
}

.fiche-rp-spirit-1 .title.v2 {
  text-align: right;
  margin: 20px 40px 0px 40px;
}

.fiche-rp-spirit-1 .content {
  background-color: #f0ecd3;
  margin: 0px 25px 25px 25px;
  font-size: 12px;
  padding: 20px;
  line-height: 1.5;
  border-radius: 10px;
  text-align: justify;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.fiche-rp-spirit-1 .content.v2 {
  background-color: transparent;
  box-shadow: none;
  padding: 10px;
}

.fiche-rp-spirit-1 .footer {
  background: linear-gradient(to right, #ffdfe9, #ffcfb0);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fiche-rp-spirit-1 .footer.v2 {
  background: #fd9ab9;
  border-radius: 5px 5px 0px 0px;
}

.fiche-rp-spirit-1 .footer .place {
  flex: 1;
  font-size: 12px;
  text-align: right;
}

.fiche-rp-spirit-1 .footer .icon {
  padding: 5px;
  border-radius: 100px;
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fiche-rp-spirit-1 .footer .icon span.material-symbols-outlined {
  font-size: 20px;
}
